<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobSphere"
        tools:targetApi="31">
        <activity
            android:name=".Candidate.Activities.CandidateJobDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".Recruiter.Activities.RecruiterMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Recruiter.Fragments.RecruiterProfileStep3CompanyLocation"
            android:exported="false" />
        <activity
            android:name=".Recruiter.Fragments.RecruiterProfileStep2CompanyDetails"
            android:exported="false" />
        <activity
            android:name=".Recruiter.Fragments.RecruiterProfileStep1PersonalInfo"
            android:exported="false" />
        <activity
            android:name=".Common.Activities.CommonProfileSetupIntroActivity"
            android:exported="false" />
        <activity
            android:name=".Recruiter.Activities.RecruiterProfileSetupActivity"
            android:exported="false" />
        <activity
            android:name=".Candidate.Activities.CandidateProfileSetupActivity"
            android:exported="false" />
        <activity
            android:name=".Candidate.Activities.CandidateHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Recruiter.Activities.RecruiterHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Common.Activities.CommonRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Common.Activities.CommonLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Common.Activities.CommonSplashActivity"
            android:exported="false">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>